@import './scss/Home.scss';
@import './scss/Dashboard.scss';
@import './scss/Variables.scss';
@import './scss/Card.scss';
@import './scss/Button.scss';
@import './scss/AddMember.scss';
@import './scss/Tooltip.scss';
@import './scss/TeamViewContainer.scss';


* {
  outline: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  background-color: $gray;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  .container {
    width: 100%;
  }
}

.Header__icon{
  max-width: 25px;
  display: inline !important;
  margin: 0 10px;
}