//Colors
$black: #222;
$blue: #182628;
$aqua-green: #65CCB8;
$light-green-1: #57ba98;
$green: #3b945e;
$gray: #f2f2f2;
$light-green: #e2f4ea;
$green: #007672;
$dark-green: #18332f;
$gray-label: #999999;
$gray-border-medium: #d0d3d4;
$gray-border-light: #eceded;
$light-orange: #ffac85;
$orange-remove-user: #f77b3f;
$orange: #ff8f1d;
$orange-add-member: #ff671f;
$white: #fff;